#content {
    background: linear-gradient(rgba(155, 155, 155, 0.89), rgba(150, 150, 150, 0.911)), url('../../../assets/images/hotel-room-g67f8db607_1920.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

select {
    padding-block: 14px;
}

label {
    font-weight: bold;
}

.file-hidden {
    width: 0px;
    visibility: hidden;
    position: absolute;
	z-index: -1;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #7dc4ffc7;
}

input, select, textarea {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.404);
    color: white;
    font-weight: bold;
}