<div class="mb-3">
    <div class="header bg-light py-2 px-4 d-flex justify-content-between align-items-center rounded">
      <div>
        <h4 class="mb-0 text-info"><b>{{ "Enregistrement d'un commissariat" | uppercase }}</b></h4>
      </div>
  
      <div>
        <button class="btn btn-danger btn-sm mat-elevation-z2" routerLink="/admin/administration/commissariats">
          <span class="typcn typcn-times"></span>
          Fermer
        </button>
      </div>
    </div>
  
    <div class="mt-3 border rounded px-5 py-3">
      <form>
        <div class="d-flex align-items-center">
          <div class="rounded-circle border border-danger" style="width: 20px; height: 20px;"></div>
          <div class="text-danger ml-3">
            RENSEIGNER LES INFORMATIONS SUR LE COMMISSARIAT
          </div>
        </div>
  
        <div class="row p-4" style="border-left: 1px solid #2b80ff; margin-left: 10px;">
          <div class="col-6 form-group">
            <label for="name"><strong>Désignation du commissariat <span class="text-danger">*</span></strong></label>
            <input type="text" id="name" class="form-control" placeholder="Ex : Commissariat du 16ème arrondissement">
          </div>
    
          <div class="col-6 form-group">
            <label for="city"><strong>Ville <span class="text-danger">*</span></strong></label>
            <ng-select placeholder="-- Choisir la ville ---" notFoundText="Aucun élément trouvé">
                <!-- <ng-option>-- Choisissez la ville ---</ng-option> -->
            </ng-select>
          </div>

          <div class="col-6 form-group">
            <label for="address"><strong>Adresse <span class="text-danger">*</span></strong></label>
            <input type="text" id="address" class="form-control">
          </div>
  
          <div class="col-6 form-group">
            <label for="phone"><strong>Téléphone <span class="text-danger">*</span></strong></label>
            <input type="tel" id="phone" class="form-control" placeholder="+225 07 07 07 07 07">
          </div>
  
          <div class="col-6 form-group">
            <label for="cel"><strong>Cellulaire <span class="text-danger">*</span></strong></label>
            <input type="text" id="cel" class="form-control">
          </div>
  
          <div class="col-6 form-group">
            <label for="policeman"><strong>Commissaire <span class="text-danger">*</span></strong></label>
            <input type="text" id="policeman" class="form-control">
          </div>
        </div>

        <div class="d-flex align-items-center">
          <div class="rounded-circle border border-danger" style="width: 20px; height: 20px;"></div>
          <div class="m-auto text-center w-75">
            <button type="button" class="btn btn-sm btn-danger w-25 mat-elevation-z2" routerLink="/admin/administration/commissariats">
              <span class="typcn typcn-times"></span>
              Fermer
            </button>
  
            <button type="submit" class="btn btn-sm btn-success ml-3 w-25 mat-elevation-z2">
              <span class="typcn typcn-database"></span>
              Enregistrer
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>