<div>
    <div class="header bg-light py-2 px-4 d-flex justify-content-between align-items-center rounded">
        <div>
          <h4 class="mb-0 text-info"><b>{{ "Administration" | uppercase }}</b></h4>
          <p class="m-0">Utilisateurs</p>
        </div>
    
        <div>
          <button class="btn btn-info btn-sm mat-elevation-z2" routerLink="/admin/administration/add-hebergeur/0">
            <span class="typcn typcn-plus"></span>
            Nouveau
          </button>
        </div>
    </div>

    
</div>