<div>
    <div class="header bg-light py-2 px-4 d-flex justify-content-between align-items-center rounded">
      <div>
        <h4 class="mb-0 text-info"><b>{{ "Hébergement" | uppercase }}</b></h4>
        <p class="m-0">Fiche police</p>
      </div>
  
      <div>
        <button class="btn btn-info btn-sm mat-elevation-z2" routerLink="/admin/hebergement/add-fiche-police">
          <span class="typcn typcn-plus"></span>
          Nouveau
        </button>
        <button class="btn btn-success btn-sm ml-3 mat-elevation-z2">
          <span class="typcn typcn-export"></span>
          Exporter
        </button>
      </div>
    </div>
  
    <div class="p-2 border mt-3 rounded">
      <div class="border-bottom text-danger p-2 mb-3">
        <b>Critères de recherche</b>
      </div>
    
      <div class="row px-5">
        <div class="col-3 px-2 form-group">
          <label for="debut" class="form-label font-weight-bold">Du</label>
          <input type="date" class="form-control" id="debut">
        </div>
    
        <div class="col-3 px-2 form-group">
          <label for="fin" class="form-label font-weight-bold">Au</label>
          <input type="date" class="form-control" id="fin">
        </div>
    
        <div class="col-3 px-2 form-group">
          <label for="hotel" style="margin-top: 2px;" class="form-label font-weight-bold">Hotel</label>
          <select id="hotel" class="form-control" style="padding-block: 14px;">
            <option value="" class="disabled">-- Choisir l'hotel ---</option>
          </select>
        </div>
    
        <div class="col-3 px-2 form-group d-flex align-items-end">
          <button class="btn btn-info w-100" style="margin-bottom: 1px;">
            Rechercher
          </button>
        </div>
      </div>
    </div>
  
    <div class="p-2 bg-white mt-3 rounded mat-elevation-z3 mb-3">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Nom.</th>
            <th>Prénom(s).</th>
            <th><span class="typcn typcn-phone"></span> Contact.</th>
            <th><span class="typcn typcn-calendar"></span> Date d'arrivée.</th>
            <th><span class="typcn typcn-calendar"></span> Date de départ.</th>
            <th><span class="typcn typcn-business-card"></span> Nationalité.</th>
            <th></th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor="let n of data | paginate
          : {
              itemsPerPage: tableSize,
              currentPage: page,
              totalItems: count
            };
            let i = index">
            <td>
              <div class="rounded-circle bg-danger" style="width: 10px; height: 10px;"></div>
            </td>
            <td>Koffi</td>
            <td>Kouamé Ulrich</td>
            <td>07 65 86 87 89</td>
            <td>2023/01/01</td>
            <td>2023/01/10</td>
            <td>Ivoirienne</td>
            <td>
              <button class="btn btn-outline-info btn-sm">
                <span class="typcn typcn-eye-outline"></span>
                Voir plus
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="px-3 mt-2 d-flex justify-content-end align-items-center" style="font-size: small;" *ngIf="data.length > 0">
            <p>Total : [ {{ data.length }} ]</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
            <div class="d-flex mr-3">
              Enregistrements par page :&nbsp;&nbsp;
              <select id="items-per-page" #value class="mr-3 mb-3" (change)="changeSize(value.value)">
                <option *ngFor="let size of tableSizes" [value]="size">{{ size }}</option>
              </select>
            </div>
          
            <div class="d-flex justify-content-center">
              <pagination-controls
                previousLabel="Précédent"
                nextLabel="Suivant"
                (pageChange)="onTableDataChange($event)"
              >
              </pagination-controls>
            </div>
        </div>
      </div>
    </div>