<div>
    <div class="header bg-light py-2 px-4 d-flex justify-content-between align-items-center rounded">
        <div>
          <h4 class="mb-0 text-info"><b>{{ "Ajout d'un hébergeur" | uppercase }}</b></h4>
        </div>
    
        <div>
          <button class="btn btn-danger btn-sm mat-elevation-z2" routerLink="/admin/administration/hebergements">
            <span class="typcn typcn-times"></span>
            Fermer
          </button>
        </div>
      </div>
    <form class="row px-5 pt-5 mb-3 overflow-auto" style="height: 90%;" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="col-12 mb-5 text-center text-muted">
          <strong>NB :</strong> tous les champs marqués par <strong class="text-danger">*</strong> sont obligatoires.
        </div>
        <div class="col-7">
          <div class="form-group">
            <label for="type">Type <span class="text-danger">*</span></label>
            <select id="type" class="form-control" formControlName="type">
              <option value="">-- Choix du type d'hébergement ---</option>
              <option 
              *ngFor="let type of typesHebergeur"
              [value]="type.typheb_type"
              >{{ type.typheb_type }}</option>
            </select>
          </div>
  
          <div class="form-group">
            <label for="city">Ville <span class="text-danger">*</span></label>
            <select id="city" class="form-control" #city (change)="getPolicesByCity(city.value)" formControlName="ville">
              <option value="">-- Choix de la ville ---</option>
              <option 
              *ngFor="let ville of villes"
              [value]="ville.vil_ville"
              >{{ ville.vil_ville }}</option>
            </select>
          </div>
  
          <div class="form-group">
            <label for="police">Commissariat lié <span class="text-danger">*</span></label>
            <select id="police" class="form-control" formControlName="commissariat">
              <option value="">-- Choix du commissariat ---</option>
              <option 
              *ngFor="let commissariat of commissariats"
              [value]="commissariat.com_commissariat"
              >{{ commissariat.com_commissariat }}</option>
            </select>
          </div>
  
          <div class="form-group">
            <label for="designation">Désignation <span class="text-danger">*</span></label>
            <input type="text" id="designation" class="form-control" formControlName="designation">
          </div>
  
          <div class="form-group">
            <label for="capacity">Capacité</label>
            <input type="text" id="capacity" class="form-control" formControlName="capacite">
          </div>
  
          <div class="form-group">
            <label for="address">Adresse</label>
            <input type="text" id="address" class="form-control" formControlName="adresse">
          </div>
  
          <div class="form-group">
            <label for="email">Email <span class="text-danger">*</span></label>
            <input type="email" id="email" class="form-control" formControlName="email">
          </div>
  
          <div class="form-group">
            <label for="site">Site web</label>
            <input type="text" id="site" class="form-control" formControlName="siteWeb">
          </div>
  
          <div class="form-group">
            <label for="tel">Tel. <span class="text-danger">*</span></label>
            <input type="tel" id="tel" class="form-control" formControlName="tel">
          </div>
  
          <div class="form-group">
            <label for="cel">Cel. <span class="text-danger">*</span></label>
            <input type="text" id="cel" class="form-control" formControlName="cel">
          </div>

        </div>
        <div class="col-5">
          <div class="form-group">
            <label for="img" class="btn btn-light" style="cursor:pointer;">
              {{previewImage ? 'Modifier l\'image' : 'Ajouter une image'}}
              <input type="file" id="img" 
              class="file-hidden" 
              (change)="onFileChange($event)" 
              multiple="false" accept="image/png, image/gif, image/jpeg">
            </label>
            <div class="w-100 img-thumbnail mat-elevation-z2" style="height: 300px;">
              <img [src]="previewImage ? previewImage : ''" alt="Image hébergeur" class="w-100 h-100 img-thumbnail">
            </div>
          </div>
  
          <div class="form-group mt-3">
            <label for="sit-geo">Situation géographique <span class="text-danger">*</span></label>
            <textarea id="sit-geo" rows="1" class="form-control" formControlName="situationGeo"></textarea>
          </div>
  
          <div class="form-group mt-3">
            <label for="gps">GPS</label>
            <textarea id="gps" rows="1" class="form-control" formControlName="gps"></textarea>
          </div>

          <div class="form-group">
            <label for="pf">Point focal</label>
            <input type="text" id="pf" class="form-control" formControlName="pointFocal">
          </div>
  
          <div class="form-group">
            <label for="cpf">Cel. point focal</label>
            <input type="text" id="cpf" class="form-control" formControlName="celPointFocal">
          </div>
        </div>

        <div class="w-100 text-center" *ngIf="loading">
          <loader></loader>
        </div>
  
        <div class="w-100 d-flex mt-4 mb-5">
          <button class="btn btn-warning w-25 m-auto text-white" [disabled]="formGroup.invalid">
            Enregistrer
          </button>
        </div>
      </form>
</div>
